<app-navigation
  [navCollapsed]="navCollapsed"
  [navCollapsedMob]="navCollapsedMob"
  class="pcoded-navbar menupos-fixed menu-light"
  [ngClass]="{'mob-open': navCollapsedMob, 'navbar-collapsed': navCollapsed}">
</app-navigation>

<app-nav-bar
  class="navbar pcoded-header navbar-expand-lg navbar-light header-blue"
  [navCollapsed]="navCollapsed"
  (onNavCollapse)="navCollapsed = !navCollapsed"
  (onNavHeaderMobCollapse)="navMobClick()">
</app-nav-bar>

<div class="pcoded-main-container">
  <div class="pcoded-content">
    <router-outlet></router-outlet>
  </div>
</div>
