/* Admin component styles */
.pcoded-main-container {
  display: block;
  position: relative;
  background: #f6f7fb;
  height: 100vh;
  margin-left: 264px;
  transition: all 0.3s ease-in-out;
}

.pcoded-wrapper {
  position: relative;
}

.pcoded-content {
  position: relative;
  display: block;
  padding: 30px;
}
