/**  =====================
      Generic-class css start
========================== **/
/*====== Padding , Margin css starts ======*/
$i: 0;
@while $i<=50 {
  .p-#{$i} {
    padding: #{$i}px;
  }
  .p-t-#{$i} {
    padding-top: #{$i}px;
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}px;
  }
  .p-l-#{$i} {
    padding-left: #{$i}px;
  }
  .p-r-#{$i} {
    padding-right: #{$i}px;
  }
  .m-#{$i} {
    margin: #{$i}px;
  }
  .m-t-#{$i} {
    margin-top: #{$i}px;
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}px;
  }
  .m-l-#{$i} {
    margin-left: #{$i}px;
  }
  .m-r-#{$i} {
    margin-right: #{$i}px;
  }
  $i: $i+5;
}
/*====== Padding , Margin css ends ======*/

/*====== text-color, background-color css starts ======*/
@each $value in $color-name-list {
  $i: index($color-name-list, $value);
  .text-#{$value} {
    color: nth($color-list, $i);
  }
  .text-light-#{$value} {
    color: nth($color-tint-list, $i);
  }
  .bg-#{$value} {
    background-color: nth($color-list, $i);
  }
  .bg-light-#{$value} {
    background-color: nth($color-tint-list, $i);
  }
}
/*====== text-color css ends ======*/

/*====== Card top border css starts ======*/
@each $value in $color-name-list {
  $i: index($color-name-list, $value);
  .card-border-#{$value} {
    border-top: 4px solid nth($color-list, $i);
  }
}
/*====== Card top border css ends ======*/

/*====== Font-size css starts ======*/
$i: 10;
@while $i<=80 {
  .f-#{$i} {
    font-size: #{$i}px;
  }
  $i: $i+2;
}
/*====== Font-size css ends ======*/

/*====== Font-weight css starts ======*/
$i: 100;
@while $i<=900 {
  .f-w-#{$i} {
    font-weight: #{$i};
  }
  $i: $i+100;
}
/*====== Font-weight css ends ======*/
